@keyframes deslizar-izquierda {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 241, 225) !important;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: 25% 40% 25%;
  grid-template-rows: 100px 300px 300px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.contenedor-grid img {
  height: 100%;
  width: 100%;
}
.contenedor-grid .titulo1 {
  grid-column: 1/4;
  text-align: center;
}
.contenedor-grid .img_inicio1 {
  grid-column: 1;
  grid-row: 2/3;
}
.contenedor-grid .resumen_disney1,
.contenedor-grid .resumen_disney2 {
  background-color: aliceblue;
}
.contenedor-grid .resumen_disney1 {
  grid-column: 2/3;
  grid-row: 2;
}
.contenedor-grid .resumen_disney2 {
  grid-column: 2/3;
  grid-row: 3;
}
.contenedor-grid .img_inicio2 {
  grid-column: 3;
  grid-row: 2/4;
}
.contenedor-grid .img_inicio3 {
  grid-column: 1;
  grid-row: 3/4;
}

.subtitulo_inicio {
  text-align: center;
}

.texto_inicio {
  background-color: aliceblue;
  font-size: 17px;
}

.texto_historia p {
  font-size: 17px !important;
}

.contenedor_grid_historia {
  display: grid;
  grid-template-columns: 25% 40% 25%;
  grid-template-rows: 100px 200px 200px 200px 200px;
  align-items: center;
  justify-content: space-around;
}
.contenedor_grid_historia .titulo_historia {
  grid-column: 1/4;
  animation: deslizar-izquierda 2s forwards;
}
.contenedor_grid_historia .img_historia1 {
  grid-column: 1;
  grid-row: 3/4;
  width: 300px;
  height: 400px;
}
.contenedor_grid_historia .img_historia2 {
  grid-column: 3;
  grid-row: 2/6;
  height: 800px;
  width: 400px;
}
.contenedor_grid_historia .texto_historia {
  grid-column: 2;
  grid-row: 2/6;
  background-color: aliceblue;
}
.contenedor_grid_historia .texto_historia p {
  font-size: 15px;
}

@media (max-width: 500px) {
  .contenedor_grid_historia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  .contenedor_grid_historia .titulo_historia {
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    padding: 0 10px;
  }
  .contenedor_grid_historia .img_historia1 {
    grid-column: 1;
    grid-row: 2;
    width: 75%;
    height: 75%;
  }
  .contenedor_grid_historia .img_historia2 {
    grid-column: 1;
    grid-row: 7;
    width: auto;
    height: auto;
  }
  .contenedor_grid_historia .texto_historia {
    grid-column: 1;
    grid-row: 3/6;
    font-size: 14px;
    padding: 10px;
  }
  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
  }
  .contenedor-grid img {
    width: 200px;
    height: auto;
    object-position: center;
  }
  .contenedor-grid .img_inicio1,
  .contenedor-grid .img_inicio2,
  .contenedor-grid .img_inicio3 {
    grid-column: 1;
  }
  .contenedor-grid .img_inicio1 {
    grid-row: 2;
  }
  .contenedor-grid .img_inicio2 {
    grid-row: 3;
  }
  .contenedor-grid .img_inicio3 {
    grid-row: 4;
  }
  .contenedor-grid .titulo1 {
    grid-column: 1/4;
    font-size: 20px;
    text-align: center;
  }
  .contenedor-grid .resumen_disney1,
  .contenedor-grid .resumen_disney2 {
    grid-column: 2/4;
    font-size: 15px;
  }
  .contenedor-grid h2 {
    font-size: 20px;
    text-align: center;
  }
  .contenedor-grid p {
    font-size: 15px;
  }
}
@media (min-width: 500px) and (max-width: 1160px) {
  .contenedor_grid_historia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 15px;
    padding: 15px;
  }
  .contenedor_grid_historia img {
    margin: 0 auto;
    display: block;
  }
  .contenedor_grid_historia .img_historia1 {
    display: none;
  }
  .contenedor_grid_historia .img_historia2 {
    grid-column: 3;
    grid-row: 2/5;
    width: 100%;
    height: 50%;
  }
  .contenedor_grid_historia .texto_historia {
    grid-column: 1/3;
    grid-row: 2/6;
    padding: 15px;
  }
  .contenedor_grid_historia .texto_historia p {
    font-size: 15px !important;
  }
  .titulo_historia {
    grid-column: 1/4;
    grid-row: 1;
    font-size: 20px;
    padding: 0 15px;
  }
  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .contenedor-grid img {
    width: 400px;
    height: auto;
    object-position: center;
  }
  .contenedor-grid .img_inicio1,
  .contenedor-grid .img_inicio2,
  .contenedor-grid .img_inicio3 {
    grid-column: 1;
  }
  .contenedor-grid .img_inicio1 {
    grid-row: 2;
  }
  .contenedor-grid .img_inicio2 {
    grid-row: 3;
  }
  .contenedor-grid .img_inicio3 {
    grid-row: 4;
  }
  .titulo1 {
    grid-column: 1/3;
    font-size: 24px;
    text-align: center;
  }
  .resumen_disney1,
  .resumen_disney2 {
    grid-column: 2;
    font-size: 16px;
    text-align: justify;
  }
  h2 {
    font-size: 22px;
    text-align: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
